<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-heading">爬虫</div>
            <div class="panel panel-body">
                <ul class="list-group">
                    <%
                    movies.forEach(function(item){%>
                    <li class="list-group-item"><a href="<%=item.url%>"><%=item.name%></a></li>
                    <%})
                    %>
                </ul>
            </div>
            <div class="panel panel-footer"></div>
        </div>
    </div>
</div>
</body>
</html>
